body{
    text-align: center;
    background-image: linear-gradient(to right, black, rgb(46, 45, 45));
}

h1{
    font-family: Arial, Helvetica, sans-serif;
   color: white;
}

.square{
    width: 100px;
    height: 100px;
    background-color: beige;
    border: 1px solid gray;
    display: inline-block;
}


.o{
    position: relative;
}


.o:after{
    content: "\🛡️";
    font-size: 50px;
    line-height: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}

.x{
    position: relative;
}


.x:after{
    content: "\⚔️";
    font-size: 50px;
    line-height: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}

#winner{
    color: wheat;
    font-size: 30px;
}

#reset{
    width: 100px;
    height: 30px;
    border: 2px;
    border-color: bisque;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
}


h3{
    color: aliceblue;
    margin-top: 200px;
}